.about-container {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 10px 20px;
}

.picture-self {
  width: 142px;
  margin: 10px;
  height: auto;
  object-fit: contain;
}

.text-container {
  margin: 10px;
  background-color: transparent;
}

.self-intro {
  margin: 0;
  padding: 0;
  text-align: justify;
  text-underline-offset: 3px;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
}

.contact-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-icon {
  display: flex;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  height: 2.4rem;
  width: 2.4rem;
  color: black;
}

.contact-icon:focus, .contact-icon:hover {
  border: 1px dashed black;
}


