.project-card {
  display: flex;
  outline: none;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-self: stretch stretch;
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 10px;
  transition: 0.3s;
  overflow: hidden;
}

.project-card.focused {
  transform: translateX(-7px) translateY(-7px);
  box-shadow: 7px 7px 7px rgb(0, 0, 0, 0.45);
}

.card-image {
  height: 82%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
}

.card-label {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 18%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Poppins', 'Nunito', Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 0.9rem;
  background-color: transparent;
}

.project-card:hover {
  transform: translateX(-5px) translateY(-5px);
  box-shadow: 5px 5px 5px #aaa;
}